/* --------- initial setup --------- */
* {
  box-sizing: border-box;
}

.container-body {
  padding-top: 50px;
  padding-bottom: 400px;
  background-color: #4d6772;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fefefe;
}

/* --------- images --------- */
.GL {
  display: block;
  margin: 0px auto;
  border: solid 10px #bc8880;
  border-radius: 50%;
  border-style: double;
}

.headshot {
  display: block;
  width: 50%;
  margin: 30px auto;
  border: solid 10px #bc8880;
  border-radius: 50%;
  border-style: double;
}

/* --------- header+navbar for all pages --------- */
h1 {
  text-align: center;
  padding: 10px;
}

nav {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
  background-color: #4d6772;
}

.nav-list {
  list-style-type: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
}

.nav-button {
  padding: 10px;
}

.nav-click {
  padding: 10px;
  color: #fefefe;
  text-decoration: none;
  font-size: 20px;
}

.nav-click:hover {
  border-radius: 5px;
  border: solid 2px #fefefe;
}

/* --------- text boxes for multiple pages --------- */
#experience,
#about-me {
  margin: 20px;
  padding: 30px;
  border: 5px solid #bc8880;
  border-radius: 5px;
  background-color: #4d6772;
  font-size: 25px;
}

#experience,
#about-me h2 {
  padding: 20px;
  padding-bottom: 0px;
}

/* --------- pages requiring card layout --------- */
#projects,
#contact-info {
  display: flex;
  flex-flow: wrap row;
  margin: auto;
  justify-content: space-around;
  width: 100%;
}

#projects,
#contact-info p {
  padding: 20px;
  font-size: 25px;
}

.contact-header {
  display: block;
  text-align: center;
}

.contact {
  display: flex;
  flex-flow: wrap row;
  margin: 30px;
  padding: 10px;
  width: 45%;
  border: 3px solid #bc8880;
  border-radius: 5px;
}

#linkedin,
#github {
  color: #e4c0a0;
}
